<!DOCTYPE html>
<html lang="en">
<head>
  <title>My first Vue page</title>
</head>
    <style>
        
    </style>
<body>
<div id="app">
     <div v-bind:style="{ 'color': colr}">{{message}}</div><br/>
        <button v-if="colr!='blue'" v-on:click="colr='blue';message='All is OK'">Blue</button>
    
    <button v-show="colr!='red'" v-on:click="colr='red'; message='Warning'">Red</button>
    <button v-on:click="colr='black'; message='hello world',y=1">Reset</button>
    <ul>
  <li v-for="x in nums">{{ y+'x'+x+'='+x*y }}</li>
</ul>
    
    <button v-on:click="y++">Next</button>
<button v-on:click="thing()">More</button>
    </div>
</body>
</html>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<script>

  const app = Vue.createApp({
    data() {
      return {
          colr: 'black',
          message:'hello world',
          nums: [1,2],
          y: 1
    
      }
    },
    methods:{
      thing()
      {
        this.nums=[];
        
        for(n=0;n<12;n++){
          this.nums[n]=n+1;
         }
      }
    }
  })

 app.mount('#app')

</script>
